.bookings-new {
  h2 {
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  h3 {
    font-size: 18px;
    font-style: italic;
    margin-top: 50px;
    margin-bottom: 80px;
  }
}
.booking-pic {
  margin-top: 30px;
}
.booking-btn {
  width: 100%;
  margin-top: 10px;
}
.booking-form {
  padding: 15px;
  margin-bottom: 30px;
}
