/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.testimony{
  border: 1px solid #a8e6cf;
  border-radius: 2px;
  padding: 10px 5px;
  margin-top: 20px;
}
.testimony p {
  padding-top: 10px;
  font-size: 13px;
}
