/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.testimony{
  border: 1px solid #a8e6cf;
  border-radius: 2px;
  padding: 10px 5px;
  margin-top: 20px;
  height: 150px;
}

.testimony p {
  padding-top: 10px;
  font-size: 15px;
}

.kittens {
  margin-bottom: 30px;
}

.kittens h3{
  margin-bottom: 40px;
}
