
.kitten-image {
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  // border: white 1px solid;
  margin: 10px;
}
.quasi-full-screen {
  height: 80vh;
  background-color: white;
}
.card-show-kitten {
  background-color: white;
  padding: 20px;
  margin: 20px;
  border: 1px solid #a8e6cf;
}
.entete-kitten-show {
  display: flex;
  vertical-align: center;
  justify-content: space-between;
  margin: 20px;
  h3 {
    margin: 0;
    color: pink;
  }
}
.kitten-description {
  margin: 10px;
  padding: 10px;
}
.home-delivery {
  font-style: italic;
  font-size: 13px;
  margin-top: 40px;
}
.total-price {
  font-style: italic;
  font-size: 12px;
  color: #999999;
  display: flex;
  align-items: center;
}
.total-price-label {
  flex: 1 0 auto;
  padding-right: 5px;
}
.total-price-amount {
  flex: 0 0 auto;
  padding-right: 5px;
}
.reviews {
  text-align: left !important;
}
.datepicker {
  margin-top: 5px;
}
