// Your footer style
.footer-grey {
background: #a8e6cf;
color: #dcedc1;
}

.footer-grey i {
  font-size: 30px;
}

.social i{
  padding: 20px;
  color: #def9ef;
}

.social i:hover {
  color: #5be5b0;
}
