// Place all the styles related to the kittens controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title {
margin-top: 50px;

}

.picture {
  display: block;
  vertical-align: middle;
}

.wrapper-show {
background-color: #E6F7EE;
}

.margin-bottom {
margin-bottom: 20px;

}

.index-header {
  padding-top: 75px;
   padding-bottom: 75px;
  background-color: #E6F7EE;
}

#map {
  position: fixed;
}
